/* Basic css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { 
    font-family: 'ProximaNovaLight'; 
    src: 
        url('/fonts/proxima-nova-light.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 

@font-face { 
    font-family: 'ProximaNovaRegular'; 
    src: 
        url('/fonts/proxima-nova.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 

body {
    font-family: 'ProximaNovaLight', Arial, sans-serif;
    color: #9f7163;
    line-height: 1.3;
    background-color: #ffffff;
}


main {
    max-width: 926px; /* Defaul Screen Size */
    margin: 0 auto;
    padding: 10px 0px 0px;
}


/* Global Font Settings */
h1, h2, h3 {
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-weight: 700; 
    letter-spacing: 1px;
}

p {
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
}

/* Fix alignment and layout */
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a {
    text-decoration: none;
    color: #9f7163;
}

nav a {
    color: #cdb5a2;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    /* font-size: 1rem; */
}


/* Header */

header {
    margin: 0;
    padding: 0;
    border-top: 50px solid #bb8888; /*  top-bar  */
}


.logo{
    width: 100%; 
    height: auto; 
    margin: 20px 0px;
    display: flex;
    justify-content: center; 
}

.logo-image{
    width: 50px; 
    height: auto;
    object-fit: contain; 
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
    gap: 50px; 
}

.hero-background {
    position: absolute;
    top: 250px; /* background bar position */
    left: 0;
    width: 100%;
    height: 200px; 
    background-color: #cdb5a2; 
    z-index: -1; /* Set to behind content */
}

.hero-left {
    width: 55%;
    position: relative;
    padding-right: 20px;
}

.hero-image {
    width: 362.88px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

.hero-text {
    margin-top: 16px; 
    line-height: 1.7;
    color: #aa7766;;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for mobile responsiveness*/
    padding: 0px 0px;
    max-width: 350px;
}

.hero-text p {
    /* font-size: 9.08pt; */
    font-family: 'ProximaNovaLight', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-box {
    background: url('../images/form-bg.png') no-repeat center center; 
    background-color: white;
    background-size: cover;
    padding: 55px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.subscribe-text {
    font-weight: 700;
    color: #9f7163;
    font-size: 12px;
    text-align: start;
    margin-bottom: 30px;
}

.subscribe-box form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscribe-box input[type="email"] {
    width: 100%;
    padding: 20px 10px;
    background-color: #d9b5a8;
    margin-bottom: 25px;
    font-size: 9px;
    font-family: 'ProximaNovaLight', Arial, sans-serif;
}

.subscribe-box input::placeholder {
    color: white;
    font-weight: 700;
}

.subscribe-box button {
    width: 100%;
    padding: 20px 20px;
    background-color: #9f7163;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-family: 'ProximaNovaLight', Arial, sans-serif;
}

.subscribe-box form button:hover {
    background-color: #b47878;
    font-family: 'ProximaNovaLight', Arial, sans-serif;
}

/* Latest Section */
.latest {
    text-align: center;
    padding: 10px 0;
}

.latest h2 {
    font-size: 22pt;
    margin-bottom: 30px;
    font-weight: bold;
    color: #9f7163; 
    letter-spacing: 3px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 120px;
    flex-wrap: wrap;
}

.product-item {
    width: 155.52px;
    margin-bottom: 10px; 
}


.product-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-item p {
    font-size: 12px;
    color: #9f7163;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    
}

.browse-btn {
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    display: inline-block;
    padding: 15px 30px;
    background-color: #9f7163;
    width: 172.8px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.browse-btn:hover {
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    background-color: #b47878; 
}

/* Behind the Seams Section */
.behind {
    /* background-color: #f7e4e4; */
    padding: 40px 20px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: 0 ;
}

.behind-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.behind img {
    width: 340.6px;
    height: auto;
}


.behind-text {
    max-width: 45%;
    margin-left: 0%;
    font-size: 12px;
    text-align: center;
    
}
.behind-text p{
font-family: 'ProximaNovaLight', Arial, sans-serif;
}

.behind-text p:last-of-type {
    margin-top: 20px; 
}


.behind-title  {
    padding: 20px 0px 35px;
}

/* Footer */
footer {
    padding: 0;
    /* background-color: #613030; */
    color: #9f7163;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 14px;
    line-height: 2;
    border-bottom: 70px solid #cdb5a2; /*  bottom-bar  */
}

/* About Us section */
.about-us-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 27.2%;
    position: relative;
}



.about-us-links h4 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}

.underline {
    width: 150px;
    height: 2px;
    background-color: #9f7163;
    margin-bottom: 10px;
}

.about-us-columns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 50px;
}

.about-us-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-us-columns a {
    font-size: 9px;
    text-decoration: none;
    font-weight: bold;
}

/* Social Media Section */
.about-us-socials {
    display: flex;
    align-items: center;
    gap: 60px;
    position: static;
    margin-top: auto;
}


.social-icon {
    width: 35px;
    height: 35px;
}

.logo-icon {
    width: 35px;
    height: 50px;
}

/* Footer Bottom Text */
.footer-container {
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    background-color: #bb8888;
    display: flex;
    justify-content: space-between;
    padding: 10px 27.2%;
}

.footer-left, .footer-right {
    color: white;
    font-size: 12px;
}

.footer-right {
    text-align: left;
    padding-left: 50px;
    
}

/* Responsive Media Queries */

/* Small devices (600px and smaller) */
@media (max-width: 600px) {
    body {
        font-size: 12px;
        line-height: 1.2;
    }


    .hero {
        flex-direction: column; /* Stack the hero section vertically */
        gap: 20px;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .subscribe-box {
        padding: 25px;
    }

    .products {
        gap: 30px;
    }

    .product-item {
        width: 90%; 
        margin-bottom: 20px;
    }
    .product-item p{
    text-align: center;
    }

    .behind {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .behind-content {
        flex-direction: column;
    }

    .behind img {
        margin-bottom: 20px; 
    }

    .about-us-footer {
        flex-direction: column; 
        text-align: center;
    }

    .about-us-left {
        margin-bottom: 20px; 
    }

    .about-us-socials {
        margin-bottom: 20px; 
        justify-content: center;
    }

    .behind {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .behind-content {
        flex-direction: column;
    }

    .behind img {
        margin-bottom: 20px; 
    }

    .about-us-footer {
        flex-direction: column; 
        text-align: center;
    }

    .about-us-left {
        margin-bottom: 20px; 
    }

    .about-us-socials {
        margin-bottom: 20px; 
        justify-content: center;
    }


    footer {
        margin-top: 20px;
        font-size: 12px;
        border-bottom: 70px solid #cdb5a2; /*  bottom-bar  */
    }

    .about-us-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-right  {
        text-align: center;
    }
}

/* Medium devices (600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .hero {
        padding: 15px;
        gap: 20px;
    }

    .hero-left, .hero-right {
        width: 100%; 
    }

    .latest h2 {
        font-size: 18pt;
    }

    .behind {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .products {
        gap: 60px;
    }

    footer {
        font-size: 13px;
        border-bottom: 50px solid #cdb5a2; /*  bottom-bar  */
    }
    
    .footer-container {
        display: flex;
        max-width: 100%; 
        padding: 20px ; 
        flex-wrap: wrap; 
    }

    .about-us-socials {
        max-width: 100%;
        display: flex;
        justify-content: left;
        gap: 35px;
    }

    .about-us-footer{
        padding: 10px 20px;
    }
}
    


/* Large devices (more than 1024px) */
@media (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    .hero {
        max-width: 1500px;
        margin: 0 auto;
    }

    .behind {
        flex-direction: row; 
        max-width: 1000px;
        margin: 0 auto;
        align-items: flex-start; 
    }

    .products {
        gap: 150px;
    }

    .about-us-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 19%;
    }

    .about-us-socials {
        justify-content: flex-end; 
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
}


